<p>
<h1> Super Integer Sorter </h1>
  <h2> Sort + and - integers the easy way! </h2> <br />
  Add as many numbers as you desire by coming back to this page.
  <br />
  
</p>
<!-- The form to collect input from the user about their interests  
    -->
<form action = "result"  method = "post" >
  Type a number: <input type = "text"  size = "4"  name = "number" /> 
  <br />
  <br /> 
  <input  type = "submit"  value = "Submit request" /> <br />
  <input type = "reset"  value = "Reset form" /> <br />
    </form>
