<!-- The initial information -->
<p>
  <h1> Super 3 Name Alphabetizer </h1>
  <h2> Please enter three names you wish to alphabetize! </h2> <br /> 
</p>
<!-- The form to collect input from the user about their interests  -->
<form action = "result"  method = "post" >
  First name: <input type = "text"  size = "64"  name = "name1" /> <br />
  Second name: <input type = "text"  size = "64"  name = "name2" /> <br />
  Third name: <input type = "text"  size = "64"  name = "name3" /> <br />
  <br /><br />
  <input  type = "submit"  value = "Submit request" /> <br />
  <input type = "reset"  value = "Reset form" /> <br />
    </form>
