<p>
  <h1> Super 3 Name Alphabetizer </h1>
   <br /> 

<!-- Display what the user asked for -->

<h1>
<!-- Display what the user asked for -->
      <%= @nameA %> <br /><br />
	  <%= @nameB %> <br /><br />
	  <%= @nameC %> <br /><br />
</h1>

