<!-- The initial information -->
<p>
  <h1> Two Integer Multiplier </h1>
  <h2> Please enter two values you wish to multiply! </h2> <br /> 
</p>
<!-- The form to collect input from the user about their interests  -->
<form action = "result"  method = "post" >
  First value: <input type = "text"  size = "12"  name = "value1" /> 
  Second value: <input type = "text"  size = "12"  name = "value2" /> 
  <br /><br />
  <input  type = "submit"  value = "Submit request" /> <br />
  <input type = "reset"  value = "Reset form" /> <br />
    </form>
